<h2 mat-dialog-title>{{"org.staff.dept.list"|translate}}</h2>

<mat-dialog-content>

  <mat-table aria-readonly="true"
             [dataSource]="deptDs"
             aria-label="User List">

    <ng-container matColumnDef="check">
      <mat-header-cell *matHeaderCellDef>{{ "common.check" | translate}}</mat-header-cell>
      <mat-cell *matCellDef="let row;">
        <mat-checkbox color="primary"></mat-checkbox>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="no">
      <mat-header-cell *matHeaderCellDef>{{ "org.staff.dept.no" | translate}}</mat-header-cell>
      <mat-cell *matCellDef="let row;">{{row.no}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>{{ "org.staff.dept.name" |
        translate}}</mat-header-cell>
      <mat-cell *matCellDef="let row;">{{row.name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="descr">
      <mat-header-cell *matHeaderCellDef>{{ "org.staff.dept.descr" |
        translate}}</mat-header-cell>
      <mat-cell *matCellDef="let row;">{{row.descr}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="createAt">
      <mat-header-cell *matHeaderCellDef>{{ "org.staff.dept.createAt" |
        translate}}</mat-header-cell>
      <mat-cell *matCellDef="let row;">{{row.createAt}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

  </mat-table>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close>{{"common.close"|translate}}</button>
  <button mat-raised-button color="primary" mat-dialog-close (click)="doSubmit()"
          cdkFocusInitial>{{"common.submit"|translate}}</button>
</mat-dialog-actions>
