<h2 mat-dialog-title>{{"org.staff.post.list"|translate}}</h2>

<mat-dialog-content>

  <mtx-grid [data]="list" 
            [columns]="columns" 
            [rowSelectable]="true"
            [rowSelected]="selectedRows"
            (rowSelectionChange)="selectedRows=$event" />

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close>{{"common.close"|translate}}</button>
  <button mat-raised-button color="primary" (click)="doSubmit()"
          cdkFocusInitial>{{"common.submit"|translate}}</button>
</mat-dialog-actions>
