<page-header class="bg-purple-500"></page-header>
<div fxLayout="row wrap" class="matero-row">
  <div fxFlex="100" class="matero-col">
    <mat-card *ngFor="let group of groups">
      <h2>{{group.name}}</h2>

      <mat-list fxLayout="row">
        <mat-list-item *ngFor="let item of group.items">
          <button mat-button>
            {{item.name}}
            &nbsp;
            &nbsp;
            <mat-icon class="icon-18">{{item.icon}}</mat-icon>
          </button>
        </mat-list-item>
      </mat-list>

    </mat-card>
  </div>
</div>
