.matero-header {
  position: relative;
  z-index: 200;

  .matero-toolbar {
    padding: 0 8px;
  }

  .ok-ver{
    float: right;
    font-size: 12px;
    color: #999;
    text-align: right;

    a {
      color: #999!important;
    }
  }
}

@media screen and (width <=1024px) {
  .ok-ver{
    display: none;
  }
}

