<mat-toolbar class="matero-toolbar">
  <button mat-icon-button *ngIf="showToggle" (click)="toggleSidenav.emit()">
    <mat-icon>menu</mat-icon>
  </button>

  <app-branding *ngIf="showBranding"></app-branding>

  <span class="flex-fill" >
    <span *ngIf="ver.id" class="ok-ver">
      Ver:<a [href]="'https://gitee.com/okstar-org/ok-stack-backend/commit/'+ver.id" target="_blank" class="href">{{ver.abbrev}}@{{ver.branch}}</a>
      &nbsp;
      Build at:{{ver.time}}
    </span>
    </span>

  <app-github-button></app-github-button>

  <a href="https://www.chuanshaninfo.com/?page_id=10885" target="_blank">
    <button mat-icon-button>
      <mat-icon>arrow_downward</mat-icon>
    </button>
  </a>

  <button mat-icon-button class="hide-small" (click)="toggleFullscreen()">
    <mat-icon>fullscreen</mat-icon>
  </button>

  <!-- <app-notification class="hide-small"></app-notification> -->

  <app-translate></app-translate>

  <app-user></app-user>

  <button mat-icon-button class="hide-small" (click)="toggleSidenavNotice.emit()">
    <mat-icon>list</mat-icon>
  </button>
</mat-toolbar>
