<breadcrumb></breadcrumb>
<mat-card>
  <mat-card-content>
    <section class="row app-box" *ngIf="app">
      <section class="col app-berif">
        <!-- 基本信息 -->
        <div class="app-info" >
          <div>
            <img class="app-avatar" [src]="app.avatar" alt="">
          </div>
          <div class="app-title">
            <h3> {{app.name}}</h3>
            <div class="app-author">由 <a [href]="app.provider.officialUrl"
                 target="_blank">{{app.provider.alias}}</a> 提供和更新</div>
          </div>
        </div>
        <div class="app-score">
          <ul class="row">
            <li class="col">
              <mat-icon class="mat-18">star_rate</mat-icon>
              <div>9.9</div>
              <div>平均</div>
            </li>
            <li class="col">
              <mat-icon class="mat-18">thumb_up</mat-icon>
              <div>10k</div>
              <div>评论数</div>
            </li>
          </ul>
        </div>
        <div class="app-descr">
          {{app.descr}}
        </div>
        <div class="app-contact" *ngIf="app.provider">
          <div class="split">开发者信息</div>
          <p style="text-align: center;">
            <img style="text-align: center;" [src]="app.provider.avatar"
                 class="app-avatar">
          </p>
          <p>{{app.provider.name}}</p>
          <div><mat-icon class="mat-8">email</mat-icon><span>{{app.provider.email}}</span></div>
          <div><mat-icon class="mat-8">phone</mat-icon><span>{{app.provider.phone}}</span></div>
          <div><mat-icon class="mat-8">report</mat-icon><span><a target="_blank"
                 [href]="app.provider.privacyPolicyUrl">隐私协议</a></span> </div>
          <div><mat-icon class="mat-8">domain</mat-icon><span><a target="_blank"
                 [href]="app.provider.officialUrl">官方地址</a></span></div>
        </div>
      </section>


      <section class="col app-detail">

        <mat-card>
          <mat-card-header>
            <mat-card-subtitle>选择套餐</mat-card-subtitle>
          </mat-card-header>

          <mat-card-content>
            <ul>
              <li *ngFor="let item of app.plans" class="app-plan">
                <span style="width: 10%">{{item.name}}</span>
                <span style="width: 50%">{{item.descr}}</span>
                <span style="width: 15%" class="amount">￥{{item.amount}} CNY</span>
                <span style="width: 10%"> <button mat-button (click)="onBuy(item)">购买</button>
                </span>
              </li>
            </ul>
          </mat-card-content>

        </mat-card>

        <mat-card>
          <mat-card-content style="min-height: 500px;">
            <mat-tab-group *ngIf="app.introduce" dynamicHeight>
              <!-- 详情信息 -->
              <mat-tab class="remark">
                <ng-template mat-tab-label>应用介绍</ng-template>
                <pre [innerHTML]="app.introduce.content"></pre>
                <div *ngFor="let item of app.medias">
                  <ng-template ngIf="item.type==='image">
                    <img [src]="item.src" loading="lazy" />
                  </ng-template>
                </div>
              </mat-tab>

              <mat-tab class="remark">
                <ng-template mat-tab-label>使用权限</ng-template>
                <ul>
                  <li *ngFor="let item of app.permissions">{{item.name}}</li>
                </ul>
              </mat-tab>
            </mat-tab-group>
          </mat-card-content>
        </mat-card>

      </section>

    </section>
  </mat-card-content>
</mat-card>
