*{
    font-size: 14px;
}

.app-box{
  min-height: 800px;
}

ul {
  vertical-align: middle;
  list-style: none;
}


.app-berif{flex-grow: .3;
  text-align: center;
}
@media screen and (width <= 1424px) {
  .app-berif {
    flex-grow: 1;
  }
}

    .app-avatar {
      width: 64px;
      height: 64px;
      border-radius: 8px;
    }



.app-score {
  ul{
    list-style: none;

    li {
      margin: 0;

       p:first-child{
        font-weight: bold;
      }
    }
  }
}

.app-detail{
  box-sizing: border-box;
  flex-grow: .7;



  .images-box {
    height: 800px;
    overflow-y: auto;

  }

  img {
    width: 100%;
  }
}

.app-contact {
  font-size: 12px;
  color: #999;
  text-align: left;

  div{
    margin: 8px 0;

    span{
      margin-left: 4px;
    }

    > * {
      display: inline-block;
      height: 20px;
      line-height: 20px;
      vertical-align: middle;
    }


  }

  p{
    margin: .5em 0;
    line-height: 24px;
  }
}

.remark{
 pre {
  white-space: pre-wrap;
 }
}
