<mat-card>
  <mat-card-header>
    <mat-card-title>连接状态</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <mat-list fxLayout="row" fxLayoutAlign="center">
      <mat-list-item>
        连接状态：
        <button mat-raised-button (click)="onTest()">测试</button>
        <div *ngIf="isTestYes!==null">
          <span *ngIf="isTestYes === true">连接成功</span>
          <span *ngIf="isTestYes === false">连接失败</span>
        </div>
      </mat-list-item>
      <mat-divider [vertical]="true"></mat-divider>

      <mat-divider [vertical]="true"></mat-divider>
      <mat-list-item>
        部门个数：【100】
        <button mat-raised-button (click)="onSync()">同步</button>
      </mat-list-item>
      <mat-divider [vertical]="true"></mat-divider>
      <mat-list-item>
        员工个数：【100】
        <button mat-raised-button (click)="onSyncUser()">同步</button>

      </mat-list-item>
    </mat-list>

  </mat-card-content>

</mat-card>
