<page-header class="bg-purple-500"></page-header>

<div fxLayout="row wrap" class="matero-row">
  <div fxFlex="100" class="matero-col">
    <mat-card>
      <form [formGroup]="group">

      <app-ok-search  [formGroup]="group" [controls]="searchControls"></app-ok-search>

      <div style="display: inline-block;">
        <button mat-stroked-button color="primary" (click)="search()" class="m-x-8">
          <mat-icon>search</mat-icon>{{"common.search" | translate}}</button>
          <button mat-stroked-button color="primary" (click)="reset()" class="m-x-8">
          <mat-icon class="mat-12">autorenew</mat-icon>{{"common.reset" | translate}}
        </button>
      </div>

      </form>
    </mat-card>

    <mat-card class="ctrl-button-area">
      <button mat-stroked-button color="primary" (click)="add()" class="m-8" >
        <mat-icon class="icon-8">add</mat-icon>{{"common.add"|translate}}
      </button>

      <button mat-stroked-button color="primary" (click)="import()" class="m-8" >
        <mat-icon class="icon-8">get_app</mat-icon>{{"common.import"|translate}}
      </button>

      <button mat-stroked-button color="primary" (click)="export()" class="m-8">
        <mat-icon class="icon-8" >publish</mat-icon>{{"common.export"|translate}}
      </button>


      <button mat-stroked-button color="primary" (click)="newTask()" class="m-8" >
        <mat-icon class="icon-8" >repeat</mat-icon>转移商机
      </button>

      <button mat-stroked-button color="primary" (click)="newTask()" class="m-8" >
        <mat-icon class="icon-8" >merge_type</mat-icon>添加协作
      </button>

      <button mat-stroked-button color="primary" (click)="sendMessage()" class="m-8" >
        <mat-icon class="icon-8" >chat_bubble_outline</mat-icon>发送短信
      </button>

      <mtx-grid
          [toolbarTitle]="'crm.order.title' | translate"
          [data]="list"
          [columns]="columns"
          [length]="total"
          [loading]="isLoading"
          [showToolbar]="showToolbar"
          [rowSelectable]="rowSelectable"
          [columnHideable]="columnHideable"
          [columnMovable]="columnMovable"
          [multiSelectable]="multiSelectable"
          [pageOnFront]="false"
          [pageIndex]="pageIndex"
          [pageSize]="pageSize"
          [pageSizeOptions]="[5,10,20]"
          (sortChange)="changeSort($event)"
          (page)="getNextPage($event)"
          [cellTemplate]="{leadStatus: leadStatusTpl, leadFrom: leadFromTpl, opportunityName: nameTpl}"
          >
      </mtx-grid>

      <ng-template #leadStatusTpl let-row let-index="index" let-col="colDef">
        {{"crm.order.phaseSelect." +row.leadStatus | translate}}
      </ng-template>

      <ng-template #leadFromTpl let-row let-index="index" let-col="colDef">
        {{"crm.order.sourceSelect." +row.leadFrom | translate}}
      </ng-template>

      <ng-template #nameTpl let-row let-index="index" let-col="colDef">
        <a [routerLink] = "['/crm/order/detail', row.sn ]" >
          {{ row.name }}
        </a>
      </ng-template>

    </mat-card>

  </div>
</div>
