<div class="matero-row" fxLayout="row wrap">

  <div class="matero-col" fxFlex="100">


    <mat-card class="ok-sys-card">
      <mat-card-actions align="start" style="margin: 0;">
        <button mat-button mat-raised-button class="m-8" class=" m-x-26" (click)="doAdd()">
          <!-- <mat-icon class="icon-8">add</mat-icon> -->
          {{"common.add"|translate}}
        </button>
      </mat-card-actions>

      <mat-table aria-readonly="true"
                 [dataSource]="userDataSource"
                 aria-label="User List">

        <ng-container matColumnDef="no">
          <mat-header-cell *matHeaderCellDef>{{ "org.staff.pending.no" |
            translate}}</mat-header-cell>
          <mat-cell *matCellDef="let row;">{{row.fragment.no}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef>{{ "org.staff.pending.name" |
            translate}}</mat-header-cell>
          <mat-cell *matCellDef="let row;">{{row.fragment.name}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="gender">
          <mat-header-cell *matHeaderCellDef>{{ "org.staff.pending.gender" |
            translate}}</mat-header-cell>
          <mat-cell *matCellDef="let row;">{{row.fragment.gender}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="phone">
          <mat-header-cell *matHeaderCellDef>{{ "org.staff.pending.phone" |
            translate}}</mat-header-cell>
          <mat-cell *matCellDef="let row;">{{row.fragment.phone}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="descr">
          <mat-header-cell *matHeaderCellDef>{{ "org.staff.pending.descr" |
            translate}}</mat-header-cell>
          <mat-cell *matCellDef="let row;">{{row.fragment.descr}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="createAt">
          <mat-header-cell *matHeaderCellDef>{{ "org.staff.pending.createAt" |
            translate}}</mat-header-cell>
          <mat-cell *matCellDef="let row;">{{row.createAt}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="operation">
          <mat-header-cell *matHeaderCellDef>{{ "org.staff.pending.operation" |
            translate}}</mat-header-cell>
          <mat-cell *matCellDef="let row;">

            <button mat-button color="primary" class="m-8" (click)="doJoin(row.id)">
              {{"org.staff.pending.join"|translate}}
            </button>

            <button mat-button color="primary" class="m-8" (click)="onEdit(row.id)">
              {{"common.edit"|translate}}
            </button>

          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

      </mat-table>
    </mat-card>
  </div>


</div>
