.mat-select {
  display: inline-block;
  width: 20em;
}

.row {
  padding: 6px 0;
  line-height: 35px;
}

.col-left {
  text-align: right;
}

.col-right {
  text-align: left;
}

.mat-mdc-input-element {
  width: 350px;
  height: 35px;
}
