<mat-card>
  <div class="ok-content-box">
    <div class="ok-content-title">
      <ul class="ok-item-list">
        <li>
          <mat-icon class="icon-40">bookmark</mat-icon>
        </li>
        <li>
          {{"crm.order.title" | translate}}
        </li>
      </ul>
    </div>
    <div class="ok-content-wrapper">

      <div class="ok-search-controls">
        <app-ok-search [formGroup]="group" [controls]="searchControls"></app-ok-search>
        <button mat-button  mat-raised-button class="m-8" (click)="onSearch()">{{"common.search" | translate}}</button>
      </div>

      <mtx-grid
          [toolbarTitle]="'crm.order.title' | translate"
          [data]="list"
          [columns]="columns"
          [length]="total"
          [loading]="isLoading"
          [showToolbar]="showToolbar"
          [rowSelectable]="rowSelectable"
          [columnHideable]="columnHideable"
          [columnMovable]="columnMovable"
          [multiSelectable]="multiSelectable"
          [pageOnFront]="false"
          [pageIndex]="pageIndex"
          [pageSize]="pageSize"
          [pageSizeOptions]="[5,10,20]"
          (sortChange)="changeSort($event)"
          (page)="getNextPage($event)"
          [cellTemplate]="{status: statusTpl, source: sourceTpl, customerName: nameTpl}"
          >
      </mtx-grid>

      <ng-template #statusTpl let-row let-index="index" let-col="colDef">
        {{"crm.order.statusSelect." +row.status | translate}}
      </ng-template>

      <ng-template #sourceTpl let-row let-index="index" let-col="colDef">
        {{"crm.order.sourceSelect." +row.source | translate}}
      </ng-template>

      <ng-template #nameTpl let-row let-index="index" let-col="colDef">
        <a [routerLink] = "['/crm/order/detail', row.id ]" >
          {{ row.customerName }}
        </a>
      </ng-template>

    </div>

  </div>
</mat-card>
