<div class="matero-row" fxLayout="row wrap">

  <div class="matero-col" fxFlex="100">

    <mat-card class="ok-sys-card">

      <mtx-grid [data]="list"
                [columns]="columns"
                [length]="total"
                [loading]="isLoading"
                [pageOnFront]="false"
                [pageIndex]="query.pageIndex"
                [pageSize]="query.pageSize"
                [pageSizeOptions]="[5,10,20]"
                (page)="getNextPage($event)">
      </mtx-grid>
    </mat-card>
  </div>


</div>
