<div class="matero-row" fxLayout="row wrap">

  <div class="matero-col" fxFlex="100">

    <mat-card class="ok-sys-card">

      <mtx-grid [data]="list"
                [columns]="columns"
                [length]="total"
                [loading]="isLoading"
                [pageOnFront]="false"
                [pageIndex]="query.pageIndex"
                [pageSize]="query.pageSize"
                [pageSizeOptions]="[5,10,20]"
                (page)="getNextPage($event)">
      </mtx-grid>
      
      <!-- <mat-table aria-readonly="true"
                 [dataSource]="userDataSource"
                 aria-label="User List">

        <ng-container matColumnDef="no">
          <mat-header-cell *matHeaderCellDef>{{ "org.staff.left.no" |
            translate}}</mat-header-cell>
          <mat-cell *matCellDef="let row;">{{row.fragment.no}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef>{{ "org.staff.left.name" |
            translate}}</mat-header-cell>
          <mat-cell *matCellDef="let row;">{{row.fragment.name}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="gender">
          <mat-header-cell *matHeaderCellDef>{{ "org.staff.left.gender" |
            translate}}</mat-header-cell>
          <mat-cell *matCellDef="let row;">{{row.fragment.gender}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="phone">
          <mat-header-cell *matHeaderCellDef>{{ "org.staff.left.phone" |
            translate}}</mat-header-cell>
          <mat-cell *matCellDef="let row;">{{row.fragment.phone}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="descr">
          <mat-header-cell *matHeaderCellDef>{{ "org.staff.left.descr" |
            translate}}</mat-header-cell>
          <mat-cell *matCellDef="let row;">{{row.fragment.descr}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="leftDate">
          <mat-header-cell *matHeaderCellDef>{{ "org.staff.left.leftDate" |
            translate}}</mat-header-cell>
          <mat-cell *matCellDef="let row;">{{row.leftDate}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="operation">
          <mat-header-cell *matHeaderCellDef>{{ "org.staff.left.operation" |
            translate}}</mat-header-cell>
          <mat-cell *matCellDef="let row;">

            <button mat-button color="primary" class="m-8" (click)="doJoin(row.id)">
              {{"org.staff.left.join"|translate}}
            </button>

          </mat-cell>
        </ng-container>



        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

      </mat-table> -->
    </mat-card>
  </div>


</div>
