<breadcrumb></breadcrumb>

<section *ngIf="integration">
  <mat-card class="demo-card" role="group" *ngIf="integration.stack">
    <mat-card-header>
      <h2>{{ 'sys.integration.stackSettings' | translate }}</h2>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col col-left col-2">{{ 'sys.integration.fqdn' | translate }}：</div>
        <div class="col col-right">
          <input
            matInput
            [(ngModel)]="integration.stack.fqdn"
            required
            placeholder="https://stack.okstar.org"
          />
        </div>
      </div>
      <div class="row">
        <div class="col col-left col-2"></div>
        <div class="col col-right">
          <button
            mat-stroked-button
            color="primary"
            (click)="onSave('stack', integration.stack)"
            class="m-8"
          >
            <mat-icon class="icon-8">save</mat-icon>{{ 'common.save' | translate }}
          </button>
          <button
            mat-stroked-button
            color="primary"
            (click)="onTest('stack', integration.stack)"
            class="m-8"
          >
            <mat-icon class="icon-8">check</mat-icon>{{ 'common.test' | translate }}
          </button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="demo-card" role="group" *ngIf="integration.keycloak">
    <mat-card-header>
      <h2>{{ 'sys.integration.keycloak.title' | translate }}</h2>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col col-left col-2">
          {{ 'sys.integration.keycloak.serverUrl' | translate }}：
        </div>
        <div class="col col-right">
          <input
            matInput
            [(ngModel)]="integration.keycloak.serverUrl"
            required
            placeholder="http://keycloak:8080"
          />
        </div>
      </div>

      <div class="row">
        <div class="col col-left col-2">{{ 'sys.integration.keycloak.realm' | translate }}：</div>
        <div class="col col-right">
          <input matInput [(ngModel)]="integration.keycloak.realm" required placeholder="Realm" />
        </div>
      </div>

      <div class="row">
        <div class="col col-left col-2">
          {{ 'sys.integration.keycloak.clientId' | translate }}：
        </div>
        <div class="col col-right">
          <input
            matInput
            [(ngModel)]="integration.keycloak.clientId"
            required
            placeholder="Client Id"
          />
        </div>
      </div>

      <div class="row">
        <div class="col col-left col-2">
          {{ 'sys.integration.keycloak.username' | translate }}：
        </div>
        <div class="col col-right">
          <input title="username" matInput [(ngModel)]="integration.keycloak.username" required />
        </div>
      </div>

      <div class="row">
        <div class="col col-left col-2">
          {{ 'sys.integration.keycloak.password' | translate }}：
        </div>
        <div class="col col-right">
          <input
            title="password"
            matInput
            type="{{ eyeIcon.password ? 'text' : 'password' }}"
            [(ngModel)]="integration.keycloak.password"
            required
          />
          <div class="operate">
            <button mat-button (click)="eyeIconChange('password')">
              <mat-icon>{{ eyeIcon.password ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
            <button mat-button (click)="copy(integration.keycloak.password)">
              <mat-icon>content_copy</mat-icon>
            </button>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col col-left col-2">
          {{ 'sys.integration.keycloak.clientSecret' | translate }}：
        </div>
        <div class="col col-right">
          <input
            matInput
            type="{{ eyeIcon.clientSecret ? 'text' : 'password' }}"
            [(ngModel)]="integration.keycloak.clientSecret"
            required
            placeholder="Client Secret"
          />
          <div class="operate">
            <button mat-button (click)="eyeIconChange('clientSecret')">
              <mat-icon>{{ eyeIcon.clientSecret ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
            <button mat-button (click)="copy(integration.keycloak.clientSecret)">
              <mat-icon>content_copy</mat-icon>
            </button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col col-left col-2"></div>
        <div class="col col-right">
          <button
            mat-stroked-button
            color="primary"
            (click)="onSave('keycloak', integration.keycloak)"
            class="m-8"
          >
            <mat-icon class="icon-8">save</mat-icon>{{ 'common.save' | translate }}
          </button>
          <button
            mat-stroked-button
            color="primary"
            (click)="onTest('keycloak', integration.keycloak)"
            class="m-8"
          >
            <mat-icon class="icon-8">check</mat-icon>{{ 'common.test' | translate }}
          </button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="demo-card" role="group" *ngIf="integration.im">
    <mat-card-header>
      <h2>{{ 'sys.integration.IMSettings' | translate }}</h2>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col col-left col-2">{{ 'sys.integration.host' | translate }}：</div>
        <div class="col col-right">
          <input
            matInput
            [(ngModel)]="integration.im.host"
            required
            placeholder="meet.okstar.org"
          />
        </div>
      </div>

      <div class="row">
        <div class="col col-left col-2">{{ 'sys.integration.adminPort' | translate }}：</div>
        <div class="col col-right">
          <input matInput [(ngModel)]="integration.im.adminPort" required placeholder="9090" />
        </div>
      </div>

      <div class="row">
        <div class="col col-left col-2">{{ 'sys.integration.apiSecret' | translate }}：</div>
        <div class="col col-right">
          <input
            matInput
            type="{{ eyeIcon.apiSecret ? 'text' : 'password' }}"
            [(ngModel)]="integration.im.apiSecret"
            required
            placeholder="Secret key"
          />
          <div class="operate">
            <button mat-button (click)="eyeIconChange('apiSecret')">
              <mat-icon>{{ eyeIcon.apiSecret ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
            <button mat-button (click)="copy(integration.im.apiSecret)">
              <mat-icon>content_copy</mat-icon>
            </button>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col col-left col-2"></div>
        <div class="col col-right">
          <button
            mat-stroked-button
            color="primary"
            (click)="onSave('im', integration.im)"
            class="m-8"
          >
            <mat-icon class="icon-8">save</mat-icon>{{ 'common.save' | translate }}
          </button>
          <button
            mat-stroked-button
            color="primary"
            (click)="onTest('im', integration.im)"
            class="m-8"
          >
            <mat-icon class="icon-8">check</mat-icon>{{ 'common.test' | translate }}
          </button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="demo-card" role="group" *ngIf="integration.minio">
    <mat-card-header>
      <h2>{{ 'sys.integration.minio.title' | translate }}</h2>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col col-left col-2">{{ 'sys.integration.minio.endpoint' | translate }}：</div>
        <div class="col col-right">
          <input
            matInput
            [(ngModel)]="integration.minio.endpoint"
            required
            placeholder="https://minio.okstar.org"
          />
        </div>
      </div>
      <div class="row">
        <div class="col col-left col-2">{{ 'sys.integration.minio.accessKey' | translate }}：</div>
        <div class="col col-right">
           <input
            matInput
            [(ngModel)]="integration.minio.accessKey"
            required
            placeholder="Access Key"
          />
          </div>
      </div>
      <div class="row">
        <div class="col col-left col-2">{{ 'sys.integration.minio.secretKey' | translate }}：</div>
        <div class="col col-right">
          <input
            matInput
            type="{{ eyeIcon.minioCredentials ? 'text' : 'password' }}"
            [(ngModel)]="integration.minio.secretKey"
            required
            placeholder="Secret Key"
          />
          <div class="operate">
            <button mat-button (click)="eyeIconChange('minioCredentials')">
              <mat-icon>{{ eyeIcon.minioCredentials ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
            <button mat-button (click)="copy(integration.minio.secretKey)">
              <mat-icon>content_copy</mat-icon>
            </button>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col col-left col-2"></div>
        <div class="col col-right">
          <button
            mat-stroked-button
            color="primary"
            (click)="onSave('minio', integration.minio)"
            class="m-8"
          >
            <mat-icon class="icon-8">save</mat-icon>{{ 'common.save' | translate }}
          </button>
          <button
            mat-stroked-button
            color="primary"
            (click)="onTest('minio', integration.minio)"
            class="m-8"
          >
            <mat-icon class="icon-8">check</mat-icon>{{ 'common.test' | translate }}
          </button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</section>
