.stepper-body {
  height: 360px;
}

ul.msg-list {
  list-style-type: none;
  padding-left: 1em;

  li {
    font-size: 12px;
    color: rgb(153, 153, 153);
    margin: .5em 0;
  }

  li:first-child {
    font-weight: 700;
    color: rgb(102, 102, 102);
  }
}

.table-box {
  overflow: auto;
  max-height: 359px;

  table {
    width: 100%;

    .is-completed {
      background: rgb(235, 190, 190);
    }
  }
}

.processing-box {
  text-align: center;
}
