.crm-saleslead-logo {
  img {
    width: 1em;
    height: 1em;
  }
}

.crm-saleslead-customer-name {
  width: 18em;
}

ul.ok-item-list {
  li {
    margin: 0 1em;
  }

  &.crm-saleslead-header {
    li {
      margin: 0 .5em 0;
    }
  }
}
