<breadcrumb></breadcrumb>
<section>
  <h2>{{"sys.basic.personal"|translate}}</h2>
  <mat-card class="demo-card" role="group" *ngIf="personal">
    <mat-card-content>
      <p>
        {{"common.language_set"|translate}}：
        <mat-select class="mat-select"
                    [(ngModel)]="personal.language"
                    (ngModelChange)="personalChange()">
          <mat-option *ngFor="let item of locales" [value]="item.value">
            {{ item.label }}
          </mat-option>
        </mat-select>
      </p>
    </mat-card-content>
  </mat-card>
</section>

<section>
  <h2>{{"sys.basic.global"|translate}}</h2>
  <mat-card class="demo-card" role="group" *ngIf="global">
    <mat-card-content>

      <!-- <div class="row">
        <div class="col col-left col-2">
          {{"common.enable"|translate}}/{{"common.disable"|translate}}：</div>
        <div class="col col-right"><mat-slide-toggle color="primary"
                            [(ngModel)]="global.globalEnable"
                            (ngModelChange)="globalChange()"></mat-slide-toggle></div>
      </div>

      <div class="row">
        <div class="col col-left col-2">{{"sys.basic.new_account_verify"|translate}}：</div>
        <div class="col col-right"> <mat-slide-toggle color="primary"
                            [(ngModel)]="global.verifyAccount"
                            (ngModelChange)="globalChange()"></mat-slide-toggle></div>

      </div> -->

      <div class="row">
        <div class="col col-left col-2">{{"sys.basic.xmppHost"|translate}}：</div>
        <div class="col col-right">
          <input matInput [(ngModel)]="global.xmppHost" (blur)="globalChange()" required
                 placeholder="meet.okstar.org">
        </div>
      </div>

      <div class="row">
        <div class="col col-left col-2">{{"sys.basic.xmppAdminPort"|translate}}：</div>
        <div class="col col-right">
          <input matInput [(ngModel)]="global.xmppAdminPort" (blur)="globalChange()" required
                 placeholder="9090">
        </div>
      </div>

      <div class="row">
        <div class="col col-left col-2">{{"sys.basic.xmppApiSecretKey"|translate}}：</div>
        <div class="col col-right">
          <input matInput [(ngModel)]="global.xmppApiSecretKey" (blur)="globalChange()" required
                 placeholder="Secret key">
        </div>
      </div>

      <div class="row">
        <div class="col col-left col-2">{{"sys.basic.stackUrl"|translate}}：</div>
        <div class="col col-right">
          <input matInput [(ngModel)]="global.stackUrl" (blur)="globalChange()" required
                 placeholder="https://stack.okstar.org.cn">
        </div>
      </div>
    </mat-card-content>


  </mat-card>
</section>