<breadcrumb></breadcrumb>
<section>
  <h2>{{"sys.basic.personal"|translate}}</h2>
  <mat-card class="demo-card" role="group" *ngIf="personal">
    <mat-card-content>
      <p>
        {{"common.language_set"|translate}}：
        <mat-select class="mat-select"
                    [(ngModel)]="personal.locale"
                    (ngModelChange)="personalChange()">
          <mat-option *ngFor="let item of locales" [value]="item.value">
            {{ item.label }}
          </mat-option>
        </mat-select>
      </p>
    </mat-card-content>
  </mat-card>
</section>

<section>
  <h2>{{"sys.basic.global"|translate}}</h2>
  <mat-card class="demo-card" role="group" *ngIf="global">
    <mat-card-content>
      <p>
        {{"common.enable"|translate}}/{{"common.disable"|translate}}：
        <mat-slide-toggle color="primary"
                          [(ngModel)]="global.globalEnable"
                          (ngModelChange)="globalChange()"></mat-slide-toggle>
      </p>
    </mat-card-content>



    <mat-card-content>
      <p>
        {{"sys.basic.new_account_verify"|translate}}：
        <mat-slide-toggle color="primary" [(ngModel)]="global.verifyAccount"
                          (ngModelChange)="globalChange()"></mat-slide-toggle>
      </p>
    </mat-card-content>
  </mat-card>
</section>
