<mat-card>
  <mat-tab-group>
    <mat-tab [label]="'common.workCard'|translate">
      <div class="work-card-box">
        <div class="ok-work-card row" *ngIf="org">
          <div class="col company">
            <ul class="flex">
              <li class="org-logo"> <img [src]="org.org.avatar" /></li>
              <li class="org-name">{{org.org.name}}</li>
              <li>{{org.org.url}}</li>
              <li>{{ org.org.location }}</li>
              <li *ngFor="let post of org.postInfo">
                <span>{{post.dept}} - {{post.post}}</span>
              </li>
            </ul>
          </div>

          <div class="col personal" *ngIf="user">
            <ul class="flex">
              <li class="org-logo box-shadow"><img [src]="user.account.avatar" alt=""></li>
              <li class="org-name">{{user.displayName}}</li>
              <li>No: {{org.staff.no}}</li>
              <li>{{org.staff.phone}}</li>
              <li>{{org.staff.email}}</li>
            </ul>
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</mat-card>
