<h2 mat-dialog-title>{{ id ? '编辑' :'添加' }}线索</h2>

<mat-dialog-content>
  <form [formGroup]="formGroup">
    <!-- <mat-form-field class="demo-full-width">
      <mat-label>Company (disabled)</mat-label>
      <input matInput disabled value="Google">
    </mat-form-field> -->
    <mat-card>
      <div class="ok-view-edit">
          <ul>
            <li *ngFor="let item of names; let i = index">
              <mat-form-field class="m-r-8">
                <mat-label>{{fields[i].label}}</mat-label>

                <input matInput [formControlName]="item" [required]="fields[i].validations['Required']">
                <mat-error *ngIf="formGroup.get(item)?.invalid">
                  {{ fields[i].validations['Required'] }}
                </mat-error>

              </mat-form-field>

            </li>
          </ul>


      </div>
    </mat-card>
  </form>
</mat-dialog-content>

<mat-dialog-actions fxLayout="row" fxLayoutAlign="end center">
  <!-- <button mat-raised-button mat-dialog-close>Close</button> -->
  <button mat-raised-button color="primary"
  (click)="doSave()">Save</button>
</mat-dialog-actions>
