<h2 mat-dialog-title>{{ 'org.staff.add.title' | translate }}</h2>
<form [formGroup]="form" (submit)="onSubmit()">
  <mat-dialog-content>
    <div class="row">
      <div class="col">
        <mat-form-field class="field-full-width">
          <mat-label>{{ 'common.firstName' | translate }}</mat-label>
          <input matInput placeholder="Put first name" formControlName="firstName" required />
          <mat-error *ngIf="form.get('firstName')?.invalid">Please enter first name </mat-error>
        </mat-form-field>
      </div>

      <div class="col">
        <mat-form-field class="field-full-width">
          <mat-label>{{ 'common.lastName' | translate }}</mat-label>
          <input matInput placeholder="Put last name" formControlName="lastName" required />
          <mat-error *ngIf="form.get('lastName')?.invalid">Please enter last name </mat-error>
        </mat-form-field>
      </div>

      <div class="col">
        <mat-form-field class="field-full-width">
          <mat-label>{{ 'common.gender' | translate }}</mat-label>
          <mat-select placeholder="Select your gender" formControlName="gender" required>
            <mat-option value="none">{{ 'common.none' | translate }}</mat-option>
            <mat-option value="male">{{ 'common.male' | translate }}</mat-option>
            <mat-option value="female">{{ 'common.female' | translate }}</mat-option>
          </mat-select>
          <mat-icon matSuffix>supervised_user_circle</mat-icon>
          <mat-error *ngIf="form.get('gender')?.invalid">Please select gender</mat-error>
        </mat-form-field>
      </div>

      <div class="col">
        <mat-form-field class="field-full-width">
          <mat-label>{{ 'common.UserID' | translate }}</mat-label>
          <input matInput placeholder="Put ID" formControlName="identify" />
          <mat-icon matSuffix>perm_identity</mat-icon>
        </mat-form-field>
      </div>

      <div class="col">
        <mat-form-field class="field-full-width">
          <mat-label>{{ 'common.birthday' | translate }}</mat-label>
          <input
            matInput
            [matDatepicker]="picker2"
            placeholder="Choose a date"
            formControlName="birthday"
          />
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="col">
        <mat-form-field class="field-full-width">
          <mat-label>{{ 'common.email' | translate }}</mat-label>
          <input matInput placeholder="Input email" formControlName="email" required />
          <mat-icon matSuffix>email</mat-icon>
          <mat-error *ngIf="form.get('email')?.invalid">
            {{ getErrorMessage(form) }}
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col">
        <mat-form-field class="field-full-width">
          <mat-label>{{ 'common.phone' | translate }}</mat-label>
          <input
            matInput
            placeholder="Put mobile phone number"
            type="string"
            formControlName="phone"
          />
          <mat-icon matSuffix>smartphone</mat-icon>
          <mat-error *ngIf="form.get('phone')?.invalid">Please enter mobile</mat-error>
        </mat-form-field>
      </div>

      <div class="col">
        <mat-form-field class="field-full-width">
          <mat-label>{{ 'common.telephone' | translate }}</mat-label>
          <input
            matInput
            placeholder="Put telephone number"
            type="string"
            formControlName="telephone"
          />
          <mat-icon matSuffix>phone</mat-icon>
          <mat-error *ngIf="form.get('telephone')?.invalid">Please enter tele</mat-error>
        </mat-form-field>
      </div>

      <div class="col">
        <mat-form-field class="field-full-width">
          <mat-label>{{ 'common.country' | translate }}</mat-label>
          <input matInput placeholder="Input country" formControlName="country" />
          <mat-icon matSuffix>public</mat-icon>
        </mat-form-field>
      </div>

      <div class="col">
        <mat-form-field class="field-full-width">
          <mat-label>{{ 'common.province' | translate }}</mat-label>
          <input matInput placeholder="Input province" formControlName="province" />
          <mat-icon matSuffix>map</mat-icon>
        </mat-form-field>
      </div>

      <div class="col">
        <mat-form-field class="field-full-width">
          <mat-label>{{ 'common.city' | translate }}</mat-label>
          <input matInput placeholder="Input city" formControlName="city" />
          <mat-icon matSuffix>location_city</mat-icon>
        </mat-form-field>
      </div>

      <div class="col">
        <mat-form-field class="field-full-width">
          <mat-label>{{ 'common.address' | translate }}</mat-label>
          <input matInput placeholder="Put address" formControlName="address" />
          <mat-icon matSuffix>room</mat-icon>
        </mat-form-field>
      </div>

      <div class="col">
        <mat-form-field class="field-full-width">
          <mat-label>{{ 'common.website' | translate }}</mat-label>
          <input matInput placeholder="Put website url" formControlName="website" />
          <mat-icon matSuffix>web</mat-icon>
        </mat-form-field>
      </div>

      <div class="col">
        <mat-form-field class="field-full-width">
          <mat-label>{{ 'common.description' | translate }}</mat-label>
          <input matInput placeholder="Put description" formControlName="description" />
          <mat-icon matSuffix>description</mat-icon>
        </mat-form-field>
      </div>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-raised-button type="button" [mat-dialog-close]="0">{{ 'common.close' | translate }}</button>
    <button mat-raised-button type="submit" cdkFocusInitial color="primary">
      {{ 'common.submit' | translate }}
    </button>
  </mat-dialog-actions>
</form>
