<breadcrumb></breadcrumb>

<mat-card *ngIf="data">
  <mat-card-content>

    <span class="col">
      名称：{{data.naturalName}}
    </span>
    <span class="col">
      主题：{{data.subject}}
    </span>
  </mat-card-content>

</mat-card>

<nav mat-tab-nav-bar aria-label="sale leads navigation links" [tabPanel]="tabPanel">
  <a mat-tab-link
     *ngFor="let tabLink of tabLinks; let i = index"
     [routerLink]="tabLink.link"
     routerLinkActive #rla="routerLinkActive"
     [active]="rla.isActive">
    {{"chat."+ tabLink.label +".title" | translate}}
  </a>
</nav>

<mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>

<router-outlet></router-outlet>
