<mat-card>
  <div class="ok-content-box">
    <div class="ok-content-title">
      <ul class="ok-item-list">
        <li>
          <mat-icon class="icon-40">bookmark</mat-icon>
        </li>
        <li>
          {{"crm.followup.title" | translate}}
        </li>
      </ul>
    </div>
    <div class="ok-content-wrapper">

      <div class="ok-search-controls">
        <app-ok-search [formGroup]="group" [controls]="searchControls"></app-ok-search>
        <button mat-button mat-raised-button class="m-8" (click)="onSearch()">{{"common.search" |
          translate}}</button>
      </div>

      <ul class="follow-up-list">

        <li *ngFor="let item of list">
          <div class="follow-up m-8 p-8">
            <div class="fu-header">
              <img mat-card-avatar
                   src="assets/images/avatar.jpg"
                   aria-label="Shiba Inu avatar">
              [张翠花] 跟进（到访）
            </div>

            <p class="fu-title">
              <span>
                {{ item.title }}
              </span>
            </p>
            <div class="fu-lead">
              <span class="fu-l-from">
                {{"crm.followup.source" | translate}}:
              </span>
              <span class="ful-l-name">
                [北京市科学管理有限公司]
              </span>
            </div>

            <ul class="fu-time">
              <li>
                <a href="javascript:;">
                  <mat-icon class="icon-10">clear</mat-icon>&nbsp;&nbsp;
                </a>
              </li>
              <li>
                <mat-icon class="icon-10">access_time</mat-icon>
              </li>
              <li>&nbsp;{{item.time|date:'short'}}</li>
            </ul>

            <ul class="fu-actions">
              <li>
                <button mat-button (click)="onClick">
                  {{"common.detail" | translate}}
                </button>
                <button mat-button (click)="onClick"> {{"common.comment" | translate}}</button>
              </li>
            </ul>

          </div>
        </li>
      </ul>

      <mat-paginator [length]="total" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
                     (page)="onPageEvent($event)">
      </mat-paginator>

    </div>

  </div>
</mat-card>
