ul {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    padding: 0;
  }
}

.mat-card-avatar {
  width: 24px;
  height: 24px;
}

.follow-up-list {
  list-style: none;
  padding-left: 1em;
}

.follow-up {
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  background-color: rgba(247, 251, 254, 1);
  border-color: rgba(215, 232, 244, 1);
  position: relative;

  .fu-header {
    font-size: 14px;
  }

  .fu-time {
    position: absolute;
    top: 8px;
    right: 8px;
    font-size: 10px;

    > li {
      display: inline-block;
      line-height: 10px;
      vertical-align: middle;
    }
  }

  .fu-actions {
    position: absolute;
    bottom: 0;
    right: 8px;
  }

  .fu-title {
    font-size: 14px;
    color: rgb(153, 153, 153);
  }

  .fu-lead {
    span {
      font-size: 12px;

      .fu-l-from {
        color: rgb(102, 102, 102);
      }
    }
  }
}
