<mat-card>
  <div class="ok-content-box">

    <div class="ok-content-wrapper" *ngIf="data">
      <ul class="row ok-number-box">
        <li class="col">
          <p class="name">帐号</p>
          <p class="count">{{data.naturalName}}</p>
        </li>
        <li class="col">
          <p class="name">成员</p>
          <p class="count">{{data.members}}/{{data.maxUsers}}</p>
        </li>
        <li class="col">
          <p class="name">密码</p>
          <p class="count">{{data.password}}</p>
        </li>
        <li class="col">
          <p class="name">允许修改昵称</p>
          <p class="count">{{data.canChangeNickname}}</p>
        </li>
        <li class="col">
          <p class="name">允许成员修改主题</p>
          <p class="count">{{data.canOccupantsChangeSubject}}</p>
        </li>
        <li class="col">
          <p class="name">允许成员邀请</p>
          <p class="count">{{data.canOccupantsInvite}}</p>
        </li>
        <li class="col">
          <p class="name">日志记录</p>
          <p class="count">{{data.logEnabled}}</p>
        </li>
        <li class="col">
          <p class="name">创建时间</p>
          <p class="count">{{data.creationDate}}</p>
        </li>
        <li class="col">
          <p class="name">修改时间</p>
          <p class="count">{{data.modificationDate}}</p>
        </li>
      </ul>
    </div>
  </div>


</mat-card>
