<mat-card>
  <div class="ok-content-box">

    <div class="ok-content-wrapper" *ngIf="data">
      <ul class="row ok-number-box">
        <li class="col">
          <p class="name">名称</p>
          <p class="count">
            <mat-form-field hideRequiredMarker style="width: 10em;">
              <input matInput
                     [(ngModel)]="data.naturalName"
                     required>
              <!-- (ngModelChange)="modelChanged()" -->
            </mat-form-field>
          </p>
        </li>
        <li class="col">
          <p class="name">主题</p>
          <p class="count">
            <mat-form-field hideRequiredMarker style="width: 20em;">
              <input matInput
                     [(ngModel)]="data.subject"
                     (ngModelChange)="modelChanged()">
            </mat-form-field>
          </p>
        </li>
        <li class="col">
          <p class="name">描述</p>
          <p class="count">
            <mat-form-field hideRequiredMarker style="width: 30em;">
              <input matInput
                     [(ngModel)]="data.description"
                     (ngModelChange)="modelChanged()"
                     required>
            </mat-form-field>
          </p>
        </li>
        <li class="col">
          <p class="name">成员</p>
          <p class="count">{{data.members}}/{{data.maxUsers}}</p>
        </li>
        <!-- <li class="col">
          <p class="name">密码</p>
          <p class="count">
            <mat-form-field hideRequiredMarker style="width: 10em;">
              <input matInput [type]="passwordType"
                     [(ngModel)]="data.password"
                     (ngModelChange)="modelChanged()"
                     #passwordModel="ngModel" required>
              <button mat-icon-button matSuffix [attr.aria-label]="passwordToggleLabel"
                      (click)="showPassword = !showPassword">
                <mat-icon>{{passwordToggleIcon}}</mat-icon>
              </button>
            </mat-form-field>
          </p>
        </li> -->
      </ul>
      <ul class="row ok-number-box">
        <li class="col">
          <p class="name">允许修改昵称</p>
          <p class="count">
            <mat-radio-group name="canChangeNickname"
                             [(ngModel)]="data.canChangeNickname"
                             (ngModelChange)="modelChanged()"
                             aria-label="can change nickname" required>
              <mat-radio-button [value]="true">Yes</mat-radio-button>
              <mat-radio-button [value]="false">No</mat-radio-button>
            </mat-radio-group>
          </p>
        </li>
        <li class="col">
          <p class="name">允许成员修改主题</p>
          <p class="count">
            <mat-radio-group name="canOccupantsChangeSubject"
                             [(ngModel)]="data.canOccupantsChangeSubject"
                             (ngModelChange)="modelChanged()"
                             aria-label="can occupants change subject" required>
              <mat-radio-button [value]="true">Yes</mat-radio-button>
              <mat-radio-button [value]="false">No</mat-radio-button>
            </mat-radio-group>
          </p>
        </li>
        <li class="col">
          <p class="name">允许成员邀请</p>
          <p class="count">
            <mat-radio-group name="canOccupantsInvite"
                             [(ngModel)]="data.canOccupantsInvite"
                             (ngModelChange)="modelChanged()"
                             aria-label="can occupants invite" required>
              <mat-radio-button [value]="true">Yes</mat-radio-button>
              <mat-radio-button [value]="false">No</mat-radio-button>
            </mat-radio-group>
          </p>
        </li>
        <li class="col">
          <p class="name">开启日志记录</p>
          <p class="count">
            <mat-radio-group name="logEnabled"
                             [(ngModel)]="data.logEnabled"
                             (ngModelChange)="modelChanged()"
                             aria-label="enable log" required>
              <mat-radio-button [value]="true">Yes</mat-radio-button>
              <mat-radio-button [value]="false">No</mat-radio-button>
            </mat-radio-group>

          </p>
        </li>
        <li class="col">
          <p class="name">创建时间</p>
          <p class="count">{{data.creationDate}}</p>
        </li>
        <li class="col">
          <p class="name">修改时间</p>
          <p class="count">{{data.modificationDate}}</p>
        </li>
      </ul>
    </div>
  </div>


</mat-card>
