.matero-branding {
  width: 180px;
  text-align: center;
}

.warning-box {
  padding: 0 .6em;
  background: rgba(255, 245, 230, 1);
  border-radius: 8px;
  border: 1px solid rgba(255, 235, 204, 1);

  .warning-text {
    font-size: 12px;

    > p {
      margin: .4em;
      color: #666;

      &.warning-title {
        font-size: 14px;
      }
    }
  }
}

@keyframes rotating {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

.icon-processing {
  animation: rotating 1.2s linear infinite;
}
