<ng-container *ngFor="let c of controls; let i = index">

  <mat-form-field class="m-8" *ngIf="c.type === 'input'" [formGroup]="formGroup">
    <mat-placeholder >{{c.label}}</mat-placeholder>
    <input  matInput  [formControlName]="c.name" [name]="c.controlName">
  </mat-form-field>

  <mat-form-field class="m-8"  *ngIf="c.type === 'select'" [formGroup]="formGroup" >
    <mat-label >{{c.label}}</mat-label>
    <mat-select  [formControlName]="c.name" >
      <mat-option>{{"common.all" | translate}}</mat-option>
      <mat-option *ngFor="let item of c.select" [value]="item.name">
          {{item.text}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="m-8" *ngIf="c.type === 'date'" [formGroup]="formGroup"  >
    <mat-placeholder >{{c.label}}</mat-placeholder>
    <mat-datepicker-toggle [for]="datetimePicker" matSuffix></mat-datepicker-toggle>
    <mat-datepicker #datetimePicker startView="month" type="date"></mat-datepicker>
    <input [matDatepicker]="datetimePicker"
           autocomplete="off"
           [formControlName]="c.name"
           matInput>
 </mat-form-field>

</ng-container>


