<mat-card>
  <mat-card-header>
    <mat-card-title>应用配置</mat-card-title>
    <!-- <mat-card-subtitle>Subtitle</mat-card-subtitle> -->
  </mat-card-header>
  <mat-card-content>

    <form [formGroup]="form">

      <mat-form-field class="demo-full-width m-8">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name">
      </mat-form-field>

      <mat-form-field class="demo-full-width m-8">
        <mat-label>AppId</mat-label>
        <input matInput formControlName="certKey" required>
        <mat-error *ngIf="form.get('certKey').invalid">
          {{'validations.required' | translate}}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="demo-full-width m-8 app-conn-cert">
        <mat-label>AppSecret：</mat-label>
        <input matInput formControlName="certSecret" required>
        <mat-error *ngIf="form.get('certSecret').invalid">
          {{'validations.required' | translate}}
        </mat-error>
      </mat-form-field>

    </form>

  </mat-card-content>

  <mat-card-actions class="m-8" fxLayout="row" fxLayoutAlign="start">
    <button mat-raised-button (click)="onSave()">保存</button>
  </mat-card-actions>

</mat-card>

<app-status [type]="type"></app-status>
