<h2 mat-dialog-title>{{"org.staff.add.title"|translate}}</h2>

<mat-dialog-content>
  <form [formGroup]="form">
    <table class="demo-full-width" cellspacing="0">
      <tr>
        <td><mat-form-field class="demo-full-width">
            <mat-label>{{"org.staff.add.firstName"|translate}}</mat-label>
            <input matInput formControlName="firstName">
          </mat-form-field></td>
        <td><mat-form-field class="demo-full-width">
            <mat-label> {{"org.staff.add.lastName"|translate}}</mat-label>
            <input matInput formControlName="lastName">
          </mat-form-field></td>
      </tr>
      <tr>
        <td><mat-form-field class="demo-full-width">
            <mat-label>{{"common.country"|translate}}</mat-label>
            <input matInput formControlName="iso">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="demo-full-width">
            <mat-label>{{"common.language"|translate}}</mat-label>
            <input matInput formControlName="language">
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td><mat-form-field class="demo-full-width">
            <mat-label>{{"org.staff.add.no"|translate}}</mat-label>
            <input matInput formControlName="no">
          </mat-form-field></td>
        <td>
          <mat-form-field class="demo-full-width">
            <mat-label>{{"org.staff.add.identity"|translate}}</mat-label>
            <input matInput formControlName="identity">
          </mat-form-field>
        </td>
      </tr>

      <tr>
        <td><mat-form-field class="demo-full-width">
            <mat-label>{{"common.phone"|translate}}</mat-label>
            <input matInput formControlName="phone">
          </mat-form-field></td>

        <td><mat-form-field class="demo-full-width">
            <mat-label>{{"common.email"|translate}}</mat-label>
            <input matInput formControlName="email">
          </mat-form-field></td>
      </tr>
      <tr>
        <td><mat-form-field class="demo-full-width">
            <mat-label>{{"org.staff.add.livingIn"|translate}}</mat-label>
            <textarea matInput formControlName="livingIn"></textarea>
          </mat-form-field>
        </td>
        <td><mat-form-field class="demo-full-width">
            <mat-label>{{"org.staff.add.descr"|translate}}</mat-label>
            <textarea matInput formControlName="descr"></textarea>
          </mat-form-field>
        </td>
      </tr>
    </table>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close>{{"common.close"|translate}}</button>
  <button mat-raised-button color="primary"
          cdkFocusInitial (click)="onSave()">{{"common.submit"|translate}}</button>
</mat-dialog-actions>
