.ok-sys-card {
  min-height: 360px;
}

.selected {
  a {
    font-weight: bold;
    color: blueviolet !important;
  }
}

.row.dept-post{
  .col {
    flex-basis: 0;
    width: 300px;
    
    &:first-child {
      flex-grow: .3;
    }
  }
}

.org-item{
  margin: 0 .5em 0 0;
}

@media screen and (width <= 1024px) {
  .col {
    flex-basis: 1;
    flex-grow: 1 !important;
    width: 100%;
  }
}

.mat-column-no {
  max-width: 6em;
}

.mat-column-recruit {
  width: 8em;
}

.mat-column-assignFor {
  max-width: 6em;
}

.mat-tree-node {
  position: relative;

  .tree-progress-bar {
    position: absolute;
    top: 0;
    left: 0;
  }

  .btn-tree-add,
  .btn-tree-edit,
  .btn-tree-delete {
    display: none;
  }

  &:hover {
    .btn-tree-add,
    .btn-tree-edit,
    .btn-tree-delete {
      display: inline-block;
    }
  }
}
