<breadcrumb></breadcrumb>

  <div class="row" fxLayout="wrap">
    <div class="col">
      <form [formGroup]="orgForm">
      <mat-card>
        <mat-card-header>
            <mat-card-subtitle   >
              {{"common.org"|translate}}
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <mat-form-field class="org-item">
            <mat-label>{{"common.name"|translate}}</mat-label>
            <input matInput formControlName="name">
          </mat-form-field>

          <mat-form-field class="org-item">
            <mat-label>{{"common.location"|translate}}</mat-label>
            <input matInput formControlName="location">
          </mat-form-field>

          <mat-form-field class="org-item">
            <mat-label>{{"common.url"|translate}}</mat-label>
            <input matInput formControlName="url">
          </mat-form-field>

          <mat-form-field class="org-item">
            <mat-label>{{"common.no"|translate}}</mat-label>
            <input matInput formControlName="no" readonly>
          </mat-form-field>

          <mat-form-field class="org-item">
            <mat-label>{{"common.cert"|translate}}</mat-label>
            <input matInput formControlName="cert" readonly>
          </mat-form-field>

          <button mat-button mat-raised-button class="m-8">
            {{"common.save"|translate}}
          </button>

        </mat-card-content>
      </mat-card>
    </form>
    </div>
  </div> 


<div class="row dept-post" fxLayout="wrap">

  <div class="col">
    <mat-card class="ok-sys-card">
      <mat-card-header>
        <mat-card-subtitle   >
          {{"common.deptName"|translate}}
        </mat-card-subtitle>
    </mat-card-header>

      <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
        <mat-tree-node *matTreeNodeDef="let node;" matTreeNodePadding>
          <a href="javascript:;" (click)="onClickDept(node)">{{node.item.name}}</a>
        </mat-tree-node>
        <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding
                       [ngClass]="node.item.id === selectedDeptId?'selected':''">
          <button mat-icon-button [attr.aria-label]="'toggle ' + node.filename" matTreeNodeToggle>
            <mat-icon class="mat-icon-rtl-mirror">
              {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
            </mat-icon>
          </button>
          <a href="javascript:;" style="width: 5em;" (click)="onClickDept(node)" matTreeNodeToggle>
            {{node.item.name}}
          </a>
          <button mat-icon-button aria-label="Add" (click)="onAddDept(node)" class="btn-tree-add">
            <mat-icon color="primary">add</mat-icon>
          </button>
          <button mat-icon-button aria-label="Edit" (click)="onEditDept(node)" class="btn-tree-edit">
            <mat-icon color="primary">edit</mat-icon>
          </button>
          <button mat-icon-button aria-label="Delete" (click)="onDeleteDept(node)" class="btn-tree-delete">
            <mat-icon color="warn">delete</mat-icon>
          </button>
          <mat-progress-bar *ngIf="node.isLoading" mode="indeterminate"
                            class="tree-progress-bar"></mat-progress-bar>
        </mat-tree-node>
      </mat-tree>

      <!-- <button mat-stroked-button color="primary" (click)="onSync()" class="m-8">
        <mat-icon class="icon-8">sync</mat-icon>{{"common.sync"|translate}}
      </button>
      <button mat-stroked-button color="primary" (click)="onAdd()" class="m-8">
        <mat-icon class="icon-8">add</mat-icon>{{"common.add"|translate}}
      </button> -->
    </mat-card>
  </div>

  <div class="col">
    <mat-card class="ok-sys-card">
      <mat-card-header>
        <mat-card-subtitle>{{'org.staff.post.list'|translate}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions align="start" style="margin: 0;">
        <button mat-button mat-raised-button class="m-8 m-x-26" (click)="onAddPost()"
                [disabled]="!selectedDeptId">
          {{"common.add"|translate}}
        </button>
      </mat-card-actions>
      <mat-table aria-readonly="true"
                 [dataSource]="userDataSource"
                 aria-label="User List">

        <ng-container matColumnDef="no">
          <mat-header-cell *matHeaderCellDef>{{"common.no"|translate}}</mat-header-cell>
          <mat-cell *matCellDef="let row;">{{row.no}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef>{{"common.name"|translate}}</mat-header-cell>
          <mat-cell *matCellDef="let row;">{{row.name}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="recruit">
          <mat-header-cell *matHeaderCellDef>{{"org.post.recruit"|translate}}</mat-header-cell>
          <mat-cell *matCellDef="let row;">{{row.recruit}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="updateAt">
          <mat-header-cell *matHeaderCellDef>{{"common.updateAt"|translate}}</mat-header-cell>
          <mat-cell *matCellDef="let row;">{{row.updateAt}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="assignFor">
          <mat-header-cell *matHeaderCellDef>{{"common.assignFor"|translate}}</mat-header-cell>
          <mat-cell *matCellDef="let row;">{{row.assignFor}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="operation">
          <mat-header-cell *matHeaderCellDef>{{"common.operation"|translate}}</mat-header-cell>
          <mat-cell *matCellDef="let row;">
            <button mat-button color="primary" class="m-8" (click)="onEditPost(row)">
              {{ "common.edit" | translate}}
            </button>
            <button mat-button color="warn" class="m-8" (click)="onDeletePost(row)">
              {{ "common.delete" | translate}}
            </button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

      </mat-table>
    </mat-card>
  </div>
</div>
