<mat-card>
  <mat-card-header class="m-b-16">
    <mat-card-title>{{"user.passwordChange"|translate}}</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="reactiveForm" class="form-field-full" (submit)="onSubmit()">

      <div class="row">
        <div class="col">
          <mat-form-field>
            <mat-label>{{"user.newPassword"|translate}}</mat-label>
            <input matInput formControlName="newPassword" required type="password" >
            <mat-error *ngIf="reactiveForm.get('newPassword')?.invalid">{{"user.invalid_newPassword"|translate}}
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field>
            <mat-label>{{"user.confirmPassword"|translate}}</mat-label>
            <input matInput formControlName="confirmPassword" required type="password" >
            <mat-error *ngIf="reactiveForm.get('confirmPassword')?.invalid">{{"user.invalid_confirmPassword"|translate}}</mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="d-flex justify-content-end">
        <button mat-raised-button color="primary">{{"common.submit"|translate}}</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
