<page-header class="bg-purple-500"></page-header>

<mat-card *ngIf="data">
    <form [formGroup]="formGroup">
      <mat-card-header>
          <mat-card-title>
            <ul class="ok-item-list crm-lead-header">
              <li class="crm-lead-logo">
                <img matListAvatar [src]="data.avatar" alt="">
              </li>
              <li class="crm-lead-customer-name">{{data.customerName}}</li>
              <li>[标志] </li>
              <li><input matInput formControlName="customerName" required readonly/></li>
            </ul>
          </mat-card-title>
          <!-- <mat-card-subtitle>Subtitle</mat-card-subtitle> -->
      </mat-card-header>
      <!-- <img matCardImage src="Card wide image source"> -->
      <mat-card-content style="margin: 0;">
        <ul class="ok-item-list crm-lead-detail">
          <li class="m-8">线索归属：[张翠花]</li>
          <li class="m-8">联系人员：{{data.contactName}} </li>
          <li class="m-8">下次跟进：{{data.nextFollowUpTime}}</li>
        </ul>
      </mat-card-content>
      <mat-card-actions align="start" style="margin: 0;">
          <button mat-button  mat-raised-button class="m-8">初步意向</button>
          <button mat-button  mat-raised-button class="m-8">转为客户</button>
          <button mat-button  mat-raised-button class="m-8">写跟进</button>
          <button mat-button  mat-raised-button class="m-8">新建任务</button>
          <button mat-button  mat-raised-button class="m-8">拨打手机</button>
          <button mat-button  mat-raised-button class="m-8">删除线索</button>
      </mat-card-actions>
      <!-- <mat-card-footer>
          Footer
      </mat-card-footer> -->
      <div class="ok-arrow-box">
        <a routerLink="../111"><mat-icon class="mat-18" color="'#999'">keyboard_arrow_left</mat-icon></a>
        <a routerLink="../222"><mat-icon class="mat-18" color="primary">keyboard_arrow_right</mat-icon></a>
      </div>
    </form>
</mat-card>

<nav mat-tab-nav-bar aria-label="sale leads navigation links">
  <a mat-tab-link
     *ngFor="let tabLink of tabLinks; let i = index"
     [routerLink]="tabLink.link"
     routerLinkActive #rla="routerLinkActive"
     [active]="rla.isActive"
     >
     {{"crm."+ tabLink.label +".title" | translate}}
  </a>
</nav>
<router-outlet></router-outlet>

