<mat-card>

  <div class="ok-content-box">
    <div class="ok-content-title">
      <ul class="ok-item-list">
        <li>
          <mat-icon class="icon-40">bookmark</mat-icon>
        </li>
        <li>
          基本信息
        </li>
        <li>
          <button mat-button  mat-raised-button class="m-8" (click)="edit()">编辑线索</button>
        </li>
      </ul>
    </div>
    <div class="ok-content-wrapper" *ngIf="data">
      <div class="ok-table-view">
          <dl *ngFor="let item of fields">
            <dt>{{item.label}}：</dt>
            <dd>{{formGroup.get(item.name).value}}</dd>
          </dl>
      </div>

    </div>
  </div>

  <div class="ok-content-box">
    <div class="ok-content-title">
      <ul class="ok-item-list">
        <li><mat-icon class="icon-40">bookmark</mat-icon></li>
        <li>系统信息</li>
      </ul>
    </div>
    <div class="ok-content-wrapper" *ngIf="data">
      <table>
        <tr>
          <td>数据编号：</td>
          <td>{{data.sn}}</td>
          <td>数据UUID：</td>
          <td>{{data.uuid}}</td>
        </tr>
        <tr>
          <td>所属部门：</td>
          <td>[销售一部]</td>
          <td>创建人员：</td>
          <td>[张脆花]</td>
        </tr>
        <tr>
          <td>前归属人：</td>
          <td>[张脆花]</td>
          <td>前所属部门：</td>
          <td>销售一部</td>
        </tr>
        <tr>
          <td>创建时间：</td>
          <td>{{data.createdAt}}</td>
          <td>更新时间：</td>
          <td>{{data.updatedAt}}</td>
        </tr>
        <tr>
          <td>最后跟进：</td>
          <td>{{data.lastFollowUpTime}}</td>
          <td>下次跟进：</td>
          <td>{{data.nextFollowUpTime}}</td>
        </tr>
      </table>
    </div>
  </div>

  <div class="ok-content-box">
    <div class="ok-content-title">
      <ul class="ok-item-list">
        <li><mat-icon class="icon-40">bookmark</mat-icon></li>
        <li>相关数据</li>
      </ul>
    </div>
    <div class="ok-content-wrapper">
      <ul class="ok-number-box">
        <li *ngFor="let m of meters">
          <p class="name">{{m.name}}</p>
          <p class="count">{{m.amount}}</p>
        </li>
      </ul>
    </div>
  </div>


</mat-card>
