<h2 mat-dialog-title>{{"org.dept.add.title"|translate}}</h2>

<mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field class="field-full-width">
      <mat-label>{{"common.name"|translate}}</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>
    <mat-form-field class="field-full-width">
      <mat-label>{{"common.no"|translate}}</mat-label>
      <input matInput formControlName="no">
    </mat-form-field>
    <mat-form-field class="field-full-width">
      <mat-label>{{"common.enable"|translate}}</mat-label>
      <mat-select formControlName="disabled" required>
        <mat-option [value]="false">{{"common.enable"|translate}}</mat-option>
        <mat-option [value]="true">{{"common.disable"|translate}}</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close="0">{{"common.close"|translate}}</button>
  <button mat-raised-button color="primary"
          cdkFocusInitial (click)="onSave()">{{"common.submit"|translate}}</button>
</mat-dialog-actions>
