<mat-card>
  <mat-card-header>
    <mat-card-title>应用配置</mat-card-title>
    <!-- <mat-card-subtitle>Subtitle</mat-card-subtitle> -->
  </mat-card-header>
  <mat-card-content>

    <form [formGroup]="addForm">

      <mat-form-field class="demo-full-width" class="m-r-8">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" required>
        <mat-error *ngIf="addForm.get('name').invalid">
          {{'validations.required' | translate}}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="demo-full-width" class="m-r-8">
        <mat-label>AgentId</mat-label>
        <input matInput formControlName="agentId" required>
        <mat-error *ngIf="addForm.get('agentId').invalid">
          {{'validations.required' | translate}}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="demo-full-width" class="m-r-8">
        <mat-label>AppKey：</mat-label>
        <input matInput formControlName="appKey" required>
        <mat-error *ngIf="addForm.get('appKey').invalid">
          {{'validations.required' | translate}}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="demo-full-width" class="m-r-8">
        <mat-label>AppSecret：</mat-label>
        <input matInput formControlName="appSecret" required>
        <mat-error *ngIf="addForm.get('appSecret').invalid">
          {{'validations.required' | translate}}
        </mat-error>
      </mat-form-field>

    </form>

  </mat-card-content>
  <mat-card-actions fxLayout="row" fxLayoutAlign="end center">
    <button mat-raised-button (click)="onSave">保存</button>
  </mat-card-actions>

</mat-card>
